{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<form>
    <div class="row">        
        <div class="col-md-12" style="padding: 30px;">
            <h2> User Registration</h2>
        </div>
    </div>

    <!-- begin user names -->
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="middle_name">Middle Name</label>
                <input type="text" class="form-control" name="middle_name" id="middle_name" placeholder="Middle Name">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name">
            </div>
        </div>
    </div>
    <!-- end user names -->

    <!-- begin user names -->
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="Email">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control" name="country" id="country" placeholder="Country">
            </div>
        </div>
    </div>
    <!-- end user names -->
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
