{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<style>
    .booking_background{
        width: 100%;
        height: 100vh;
        background-image: url('{% static 'assets/img/background/room_2.jpg' %}');
    }

    .booking_section{
        z-index: 2;
        width: 100%;
        margin-top: 10px;
        border-radius: 5px;
        background: #FFFFFF;
        border: solid 1px #eeeeee;
        
        top: 50%;
        left: 50%;
        position: absolute;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    .form-row{
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="row">
    <div class="col-lg-12 booking_background">                   
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 booking_section">
                <!-- begin booking title -->
                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        
                        <h2 text>Book a room </h2>
                        <a href="{% url 'booking_self' %}" class="btn btn-primary">Book room for self</a>
                        <p>Booking and reserving a room with us is fairly easy. Just fill in the booking form below and we will email you 
                            your itinerary and payment details. Kindly do not forget that you have to pay for your booking within 24 Hours
                            after submitting your booking.

                        </p>
                    </div>
                </div>
                <!-- end booking title -->

                <!-- begin guest details -->
                <div class="row">
                    <div class="col-md-12"> <h4 class="page-title">Guest Details</h4> </div>                    
                    <div class="col-md-12">
                        <div class="portlet-body form">
                            <form method="POST" action="{% url 'capture_guest_information' %}" role="form">
                                {% csrf_token %}
                                <div class="form-body">
                                    
                                    <!-- begin row -->
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <!-- begin title -->
                                            <label>Title</label>
                                            <div class="input-group">
                                                <select id="title" name="title" class="select2 form-control">
                                                    <option value="none" selected disabled hidden>
                                                        Title
                                                    </option>
                                                    <option value="Mr"> Mr. </option>
                                                    <option value="Mrs"> Mrs. </option>
                                                    <option value="Miss"> Miss </option>
                                                    <option value="Madam"> Madam </option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- end title -->

                                        <!-- begin first name -->
                                        <div class="form-group col-md-3">
                                            <label>First Name</label>
                                            <div class="input-group">                                                
                                                <input type="text" name="first_name" id="first_name" class="form-control input-circle-right" placeholder="First Name"> 
                                            </div>
                                        </div>
                                        <!-- end first name -->
                                        
                                        <!-- begin middle name -->
                                        <div class="form-group col-md-3">
                                            <label>Middle Name</label>
                                            <div class="input-group">                                                
                                                <input type="text" name="middle_name" id="middle_name" class="form-control input-circle-right" placeholder="Middle Name"> 
                                            </div>
                                        </div>
                                        <!-- end middle name -->

                                        <!-- begin last name -->
                                        <div class="form-group col-md-3">
                                            <label>Last Name</label>
                                            <div class="input-group">                                                
                                                <input type="text" name="last_name" id="last_name" class="form-control input-circle-right" placeholder="Last Name"> 
                                            </div>
                                        </div>
                                        <!-- end last name -->

                                        
                                    </div>
                                    <!-- end row -->

                                    <!-- begin row -->
                                    <div class="row">
                                        <!-- begin id document -->
                                        <div class="form-group col-md-3">                                            
                                            <label>Identification Document</label>
                                            <div class="input-group">
                                                <select id="id_document_type" name="id_document_type" class="select2 form-control">
                                                    <option value="none" selected disabled hidden>
                                                        Identification Doc
                                                    </option>
                                                    <option value="Passport"> Passport </option>
                                                    <option value="id_card"> National Id Card </option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- end id document -->

                                        <!-- begin id card number -->
                                        <div class="form-group col-md-3">
                                            <label>Identification Document Number</label>
                                            <div class="input-group">                                                
                                                <input type="text" name="id_document_number" id="id_document_number" class="form-control input-circle-right" placeholder="Identification Doc Num"> 
                                            </div>
                                        </div>
                                        <!-- end id card number -->
                                        
                                        <!-- begin dob -->
                                        <div class="form-group col-md-3">
                                            <label>Date of Birth</label>
                                            <div class="input-group">                                                
                                                <input type="date" name="dob" id="dob" class="form-control input-circle-right" > 
                                            </div>
                                        </div>
                                        <!-- end dob -->

                                        <!-- begin gender -->
                                        <div class="form-group col-md-3">                                            
                                            <label>Gender</label>
                                            <div class="input-group">
                                                <select id="gender" name="gender" class="select2 form-control">
                                                    <option value="none" selected disabled hidden>
                                                        Gender
                                                    </option>
                                                    <option value="Male"> Male </option>
                                                    <option value="Female"> Female </option>
                                                    <option value="other"> other </option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- end id document -->

                                    </div>
                                    <!-- end row -->

                                    <!-- begin row -->
                                    <div class="row">
                                        <!-- begin nationality -->
                                        <div class="form-group col-md-3">
                                            <label>Nationality</label>
                                            <div class="input-group">                                                
                                                <input type="text" name="nationality" id="nationality" class="form-control input-circle-right" placeholder="Nationality"> 
                                            </div>
                                        </div>
                                        <!-- end nationality -->

                                        <!-- begin email -->
                                        <div class="form-group col-md-3">
                                            <label>Email</label>
                                            <div class="input-group">                                                
                                                <input type="text" name="email_address" id="email_address" class="form-control input-circle-right" placeholder="Email"> 
                                            </div>
                                        </div>
                                        <!-- end email -->
                                        
                                        <!-- begin address -->
                                        <div class="form-group col-md-3">
                                            <label>Address</label>
                                            <div class="input-group">                                                
                                                <input type="text" name="address" id="address" class="form-control input-circle-right" placeholder="Address"> 
                                            </div>
                                        </div>
                                        <!-- end dob -->

                                        <!-- begin town -->
                                        <div class="form-group col-md-3">
                                            <label>Area Code </label>
                                            <div class="input-group">                                                
                                                <input type="text" name="area_code" id="area_code" class="form-control input-circle-right" placeholder="Area Code"> 
                                            </div>
                                        </div>
                                        <!-- end town -->

                                    </div>
                                    <!-- end row -->

                                    <!-- begin row -->
                                    <div class="row">
                                        <!-- begin town -->
                                        <div class="form-group col-md-3">
                                            <label>Town</label>
                                            <div class="input-group">                                                
                                                <input type="text" name="town" id="town" class="form-control input-circle-right" placeholder="Address"> 
                                            </div>
                                        </div>
                                        <!-- end town -->

                                        <!-- begin residency -->
                                        <div class="form-group col-md-3">
                                            <label>Residency</label>
                                            <div class="input-group">                                                
                                                <input type="text" name="residency" id="residency" class="form-control input-circle-right" placeholder="Residency"> 
                                            </div>
                                        </div>
                                        <!-- end town -->

                                        <!-- begin phone number -->
                                        <div class="form-group col-md-3">
                                            <label>Phone Number</label>
                                            <div class="input-group">                                                
                                                <input type="text" name="phone_number" id="phone_number" class="form-control input-circle-right" placeholder="+xxx-xxx-xxx-xxx"> 
                                            </div>
                                        </div>
                                        <!-- end phone number --> 
                                        
                                        <!-- begin marital status -->
                                        <div class="form-group col-md-3">                                            
                                            <label>Marital Status</label>
                                            <div class="input-group">
                                                <select id="marital_status" name="marital_status" class="select2 form-control">
                                                    <option value="none" selected disabled hidden>
                                                        Mariatl Status
                                                    </option>
                                                    <option value="Single"> Single </option>
                                                    <option value="Married"> Married </option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- end marital status -->

                                    </div>
                                    <!-- end row -->

                                    <!-- begin row -->
                                    <div class="row">
                                        <!-- begin marital status -->
                                        <div class="form-group col-md-3">                                            
                                            <label>Religion</label>
                                            <div class="input-group">
                                                <select id="religion" name="religion" class="select2 form-control">
                                                    <option value="none" selected disabled hidden>
                                                        Religion
                                                    </option>
                                                    <option value="Hindu"> Hindu </option>
                                                    <option value="Islma"> Islam </option>
                                                    <option value="Atheist"> Atheist </option>
                                                    <option value="Christian"> Christian </option>                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <!-- end marital status -->

                                        <!-- begin cancel button -->
                                        <div class="form-group col-md-3">
                                        </br>
                                        <input type="cancel" class="btn btn-outline-danger" style="width: 100%;" value="Cancel">                                           
                                        </div>
                                        <!-- end cancel button -->

                                        <!-- begin submit button -->
                                        <div class="form-group col-md-3">
                                        </br>
                                        <input type="submit" class="btn btn-outline-success" style="width: 100%;" value="Submit">
                                        </div>
                                        <!-- end submit button -->

                                    </div>
                                    <!-- end row -->

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end guest details -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

