{% extends 'app/layout.html' %}
{% load static %}

{% block title %} Hotels {% endblock %}
{% block page_breadcrumb %} Room Information {% endblock %}
{% block content %}
    <div style=" padding: 20px"> </div>
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet box yellow">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>View Room Information </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>                
                <!-- <a href="javascript:;" class="remove"> </a> -->
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th> Room </th> <td> {{ room.room_number }} </td>
                    </tr>
                    <tr>
                        <th> Hotel </th> <td> <a href="{% url 'hotel-get-single' hotel.hotel_uid %}"> {{ hotel.hotel_name }} </a> </td>
                    </tr>
                    <tr>
                        <th> Floor </th> <td> {{ room.floor }} </td>
                    </tr>                    
                    <tr>
                        <th> Availability </th> <td> {{ room.availability }} </td>
                    </tr>
                    <tr>
                        <th> Room Type </th> <td> <a href="{% url 'room-type-view-single' room_type.room_type_uid %}"> {{ room_type.room_type_name }} </a> </td>
                    </tr>
                    <tr>
                        <th> Created On </th> <td> {{ room.created_on }} </td>
                    </tr>
                    <tr>
                        <th> Cost Per Night </th> <td> Ksh. {{ room.cost_per_night }} </td>
                    </tr>
                    <tr> <th colspan="2" style="text-align: center;"> Elements</th> </tr>
                    <tr> 
                        <td colspan="2">
                            {% for element in room_element %}
                                <div class="col-md-2"> <a href="{% url 'room-element-view-single' element.room_element_uid %}"> {{element.room_element_name}} </a> </div>
                            {% endfor %}
                        </td> 
                    </tr>
                    <tr> 
                        <td colspan="2"> 
                            <a class="btn btn-primary" href=""> 
                                <i class="fa fa-pencil" aria-hidden="true"></i> 
                                Update
                            </a> 
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- END SAMPLE TABLE PORTLET-->
{% endblock %}