{% extends 'app/layout.html' %}
{% load static %}

{% block title %} Hotels {% endblock %}
{% block page_breadcrumb %} View Rooms {% endblock %}
{% block content %}
    <div style=" padding: 20px"> </div>
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>View all Rooms </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>                
                <!-- <a href="javascript:;" class="remove"> </a> -->
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> Room No </th>
                            <th> Floor </th>
                            <th> Cost Per Night </th>
                            <th> Availability </th>                          
                            <th> Created On </th>
                            <th> view </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in data %}
                        <tr>
                            <td> {{ forloop.counter }} </td>
                            <td> {{ record.room_number }} </td>
                            <td> {{ record.floor }} </td>
                            <td> {{ record.cost_per_night }} </td>
                            <td> {{ record.availabilty }} </td>
                            <td> {{ record.created_on }} </td>
                            <td style="text-align: center;"> <a href="{% url 'room-view-single' record.uid %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- END SAMPLE TABLE PORTLET-->
{% endblock %}