{% extends 'app/layout.html' %}
{% load static %}

{% block title %} Hotels {% endblock %}
{% block page_breadcrumb %} Add Room Element {% endblock %}
{% block content %}
<div class="col-md-12">
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-university"></i>Add New Room Scent </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
                <!-- <a href="javascript:;" class="remove"> </a> -->
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="{% url 'room-scent-add' %}" method="POST">
                {% csrf_token %}
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" placeholder="Enter Room Scent Name" name="name">                        
                    </div>

                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea rows="5" class="form-control" placeholder="Enter Scent Description" name="description"></textarea>                                          
                    </div>

                    
                <div class="form-actions">
                    <button type="submit" class="btn green">Submit</button>
                    <button type="button" class="btn default">Cancel</button>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
</div>
{% endblock %}